@import "../../../assets/styles/responsive.mixin.scss";
@import "../../../assets/color/colors.variables.scss";

.about-container {
  background-color: transparent;
}

.about-content {
  opacity: 0; // Imposta l'opacità iniziale a 0
  animation: fade-in 1s ease forwards; // Applica l'animazione
  transform: translateY(20px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @keyframes fade-in {
    0% {
      opacity: 0; // Al punto di inizio, l'opacità è 0
      transform: translateY(20px);
    }
    100% {
      opacity: 1; // Dopo 1 secondo (durata dell'animazione), l'opacità è al 100%
      transform: translateY(0);
    }
  }

  @include screen-up("lg") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.bigTitle2 {
  color: $hero;
}

.body16 {
  color: $heroDesc;
}

.text-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .img-content {
    height: 500px;
    width: 350px;
    border-radius: 16px;
    background-image: url("../../../assets/images/profile.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
