<!-- About me -->
<section id="about-me">
  <div class="about-container">
    <div class="about-content">
      <!-- Image container -->
      <div class="img-container">
        <div class="img-content"></div>
      </div>
      <!-- Text container -->
      <div class="text-container">
        <div class="body18">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores earum
          sequi odio pariatur numquam autem non minima libero eos, at cum
          delectus maxime minus soluta aspernatur modi quam quos distinctio.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut magni,
          vero saepe, magnam nihil veniam tempore odio veritatis asperiores
          dolorum, non quam? Consectetur doloremque eius natus! Vero est
          voluptatum eius? Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Officiis ducimus enim quam quod esse aut aperiam incidunt illo
          quaerat veritatis. Cumque temporibus quisquam officiis qui vel
          asperiores excepturi sequi consequatur?
        </div>
      </div>
      <!-- Skills -->
      <section id="skills">
        <app-skills></app-skills>
      </section>
      <!-- Skills -->
      <section id="skills">
        <app-skills></app-skills>
      </section>
      <!-- Skills -->
      <section id="skills">
        <app-skills></app-skills>
      </section>
      <!-- Skills -->
      <section id="skills">
        <app-skills></app-skills>
      </section>
    </div>
  </div>
</section>
