@import "src/assets/styles/responsive.mixin.scss";

//----------- COUNTER

@mixin bigTitle {
  font-size: 90px;
  font-weight: 700;

  @include screen-up("lg") {
    font-size: 24px;
  }
}

@mixin bigTitle2 {
  font-size: 60px;
  font-family: "Lilita One", sans-serif;
  @include screen-up("lg") {
    font-size: 50px;
  }
}

@mixin italicCounter {
  font-size: 50px;
  font-weight: 400;

  @include screen-up("lg") {
    font-size: 24px;
  }
}

//----------- HEADING

@mixin heading1 {
  font-size: 56px;
  font-weight: 700;

  margin-bottom: 32px;
  line-height: 79px;
  @include screen-up("lg") {
    font-size: 40px;
  }
}

@mixin heading2 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 16px;

  @include screen-up("lg") {
    font-size: 32px;
  }
}

@mixin heading3 {
  font-size: 40px;
  font-weight: 600;

  @include screen-up("lg") {
    font-size: 32px;
  }
}

//----------- BODY / REGULAR

@mixin body32 {
  font-size: 32px;
  font-weight: 400;
  line-height: 1.25;
  margin-bottom: 16px;
  letter-spacing: normal;

  @include screen-up("lg") {
    font-size: 24px;
  }
}

@mixin body24 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;

  @include screen-up("lg") {
    font-size: 18px;
  }
}

@mixin body20 {
  font-size: 20px;
  font-weight: 400;
  @include screen-up("lg") {
    font-size: 16px;
  }
}

@mixin body18 {
  font-size: 18px;
  font-family: "Lilita One", sans-serif;
  letter-spacing: normal;
}

@mixin body16 {
  font-size: 16px;
  font-weight: 400;
  font-family: "Lilita One", sans-serif;
}

@mixin body14 {
  font-size: 14px;
  font-weight: 400;
}

//----------- CTA

@mixin cta {
  font-size: 18px;
  font-weight: 700;
}

//----------- CAPTION

@mixin caption14 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 14px;
}

//----------- BREADCRUMBS

@mixin breadcrumbsBold {
  font-size: 12px;
  font-weight: 700;
}

@mixin breadcrumbs {
  font-size: 12px;
  font-weight: 400;
}

//----------- BOLD/SEMIBOLD

@mixin bold {
  font-weight: 700;
}
@mixin semibold {
  font-weight: 600;
}
@mixin normal {
  font-weight: 400;
}
