//Brown palette ----

$brown1: #ede0d4;
$brown2: #e6ccb2;
$brown3: #ddb892;
$brown4: #b08968;
$primary: #745539;
$secondary: #9c6644;

//Brown dark palette ----

$brown1-dark: #d6c2b8;
$brown2-dark: #cdae94;
$brown3-dark: #c39a6d;
$brown4-dark: #8e6c50;
$primary-dark: #5d462e;
$secondary-dark: #7f4f32;

//Home page palette ( Red Peach )
$redPeachPrimary: #f47c7c;
$redPeachSecondary: #ef9f9f;
$redPeach1: #fad4d4;
$redPeach2: #fff2f2;
