//Home page palette ( Orange Beige )
//$orangePrimary: #e38b29;
$orangePrimary: #6b350b;
$orangeOppPrimary: #fdeedc;
$orangeSecondary: #f1a661;
$orange1: #ffd8a9;
$orange2: #fdeedc;

//About page palette ( Purple Blue )
$purpleStrong: #2c3040;
$purplePrimary: #b1b2ff;
$purpleSecondary: #aac4ff;
$purple1: #d2daff;
$purple2: #e0e5ff;
$purple3: #eef1ff;

//Works page palette ( Maroon Red Peach )
$redPrimary: #b82132;
$redSecondary: #d2665a;
$red1: #f2b28c;
$red2: #f6ded8;
$red3: #fbeeea;

//Contact page palette ( Green Sage )
$greenAccent: #2c3930;
$greenPrimary: #a0c49d;
$greenSecondary: #c4d7b2;
$green1: #e1ecc8;
$green2: #f7ffe5;

//Grey
$grey1: #f6f0f0;
