//Home page palette ( Orange Beige )
$orangePrimary: #e38b29;
$orangeSecondary: #f1a661;
$orange1: #ffd8a9;
$orange2: #fdeedc;
$orange3: #fff5ec;

//About page palette ( Purple Blue )
$purplePrimary: #b1b2ff;
$purpleSecondary: #aac4ff;
$purple1: #d2daff;
$purple2: #eef1ff;
$purple3: #f6f7ff;

//Contact page palette ( Green Sage )
$greenPrimary: #a0c49d;
$greenSecondary: #c4d7b2;
$green1: #e1ecc8;
$green2: #f7ffe5;
$green3: #fbfff2;

//Grey
$grey1: #f6f0f0;
