<div class="skills-container skills">
  <div class="skills-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          Skills<span class="redPrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse
          corrupti quas harum dolore itaque incidunt asperiores ipsam
          consequatur, error amet fugit dolores. Corrupti quisquam impedit vel
          neque iure dolor accusamus.
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>

  <div class="skills-main-section">
    <div class="skills-study-section" role="heading" aria-level="4">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit
      voluptates laboriosam voluptatum animi, libero deserunt est doloremque sed
      unde nam reiciendis enim, consequuntur facilis ducimus neque at quis
      laborum recusandae!
    </div>
  </div>
</div>
