@import "../../../../../assets/styles/responsive.mixin.scss";
@import "../../../../../assets/color/colors.variables.scss";

//Skills container
.skills-container {
  height: 100%;
  background: transparent;
}

//Skills content
.skills-content {
  background: transparent;
}
