<!-- Hero home -->
<section id="hero-home">
  <div class="hero-container">
    <div class="hero-content">
      <div class="text-container full">
        <div class="bigTitle2">Hi, it's Gabriele.</div>
        <div class="bigTitle2">A FrontEnd Developer</div>
        <div class="body16">
          Developing graphics for me is like drawing; you're always trying to be
          creative... and I love being creative.
        </div>
      </div>
      <!-- Skills -->
      <section id="skills">
        <app-work-experience></app-work-experience>
      </section>
      <!-- Skills -->
      <section id="skills">
        <app-work-experience></app-work-experience>
      </section>
      <!-- Skills -->
      <section id="skills">
        <app-work-experience></app-work-experience>
      </section>
    </div>
  </div>
</section>
