@import "../../../assets/styles/responsive.mixin.scss";

.hero-content {
  height: 100%;

  .row {
    margin-top: 10%;
    height: inherit;
    align-items: center;

    div:has(div.img-container) {
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }

  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24%;
  }

  .img-container {
    background: rgb(24, 175, 231);
    background: -moz-linear-gradient(
      332deg,
      rgba(24, 175, 231, 1) 0%,
      rgba(67, 82, 186, 1) 100%
    );
    background: -webkit-linear-gradient(
      332deg,
      rgba(24, 175, 231, 1) 0%,
      rgba(67, 82, 186, 1) 100%
    );
    background: linear-gradient(
      332deg,
      rgba(24, 175, 231, 1) 0%,
      rgba(67, 82, 186, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#18afe7",endColorstr="#4352ba",GradientType=1);
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      margin-bottom: -30px;
      margin-right: -30px;
      height: 400px;
    }
  }
}
