<!-- Hero home -->
<section id="hero-home">
  <div class="hero-container">
    <div class="hero-content">
      <div class="row g-0">
        <div class="col-12 col-lg-8">
          <div class="text-container">
            <span class="heading3 semibold"
              >Sono Gabriele, un Front-end Developer presso
              <span class="cool-text">Lunalabs</span>.<br />Sviluppare grafica
              per me è come disegnare; si cerca sempre di essere creativi... e
              io adoro essere creativo.
            </span>
          </div>
        </div>
        <div class="col-12 col-lg-4">
          <div class="img-container">
            <img
              aria-label="Profile image"
              src="../../../assets/images/profile.jpg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- About us -->
<section id="about-us-home"><app-about-me></app-about-me></section>
