<div class="about-container about">
  <div class="about-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          About me<span class="purplePrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          I'm a <b>Frontend Developer</b> with a lifelong passion for technology
          and the world of computers. What started as curiosity early on has
          evolved into a solid skill set focused on
          <b
            >building modern, accessible, and high-performance user
            interfaces</b
          >. I love crafting smooth, well-designed digital experiences with
          close attention to <b>detail, usability, and design</b>.
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>

  <div class="about-main-section">
    <div class="about-study-section" role="heading" aria-level="4">
      <span class="body24">
        Since high school, I have been deeply passionate about computer science,
        constantly challenging myself to create more fluid and complex layouts.
        In 2016, I enrolled at the <b>University of Milan</b>, which became one
        of the most enriching experiences of my life. There, I not only
        <b>expanded my programming knowledge</b> but also benefited immensely
        from exchanging ideas with fellow students. This collaborative
        environment inspired me to rethink and <b>refine my approach</b> to web
        application development, helping me grow into the developer I am
        today.</span
      >
      <span>img</span>
    </div>
    <div class="about-drawing-section" role="heading" aria-level="4">
      <span>img</span>
      <span class="body24">
        Drawing has always been my <b>favorite way</b> to express ideas, long
        before I ever wrote a line of code. That passion for visual storytelling
        gradually evolved into a love for <b>digital design</b>. Today, as a
        frontend developer, I find true fulfillment in translating creative
        concepts into functional and engaging user interfaces. Implementing
        design is where my artistic sensibility meets my technical mindset,
        allowing me to <b>craft experiences</b> that are not only beautiful but
        also intuitive and user-focused.
      </span>
    </div>
    <div class="about-drawing-section" role="heading" aria-level="4">
      <span class="body24">
        Drawing has always been my <b>favorite way</b> to express ideas, long
        before I ever wrote a line of code. That passion for visual storytelling
        gradually evolved into a love for <b>digital design</b>. Today, as a
        frontend developer, I find true fulfillment in translating creative
        concepts into functional and engaging user interfaces. Implementing
        design is where my artistic sensibility meets my technical mindset,
        allowing me to <b>craft experiences</b> that are not only beautiful but
        also intuitive and user-focused.
      </span>
      <span>img</span>
    </div>
  </div>

  <div class="about-footer-container">
    <div class="heading1 bold" role="heading" aria-level="3">
      <div class="pattern"></div>
      <span class="text-con-bordo3">
        Do you like me?<span class="purplePrimary">.</span></span
      >
    </div>
    <div class="body20" role="heading" aria-level="4">
      <span class="text-con-bordo3"
        >Maybe you like me, maybe you don’t… but hey, if you’ve scrolled this
        far, something must’ve caught your eye.<br /><br />
        If you're curious to learn more about what I do ( spoiler: it involves
        code, components, and a strong dislike for spaghetti code ), feel free
        to
        <b>grab my CV</b>. I promise : No clichés like “great team player”, just
        real stuff.</span
      >
      <button class="secondary-btn about-btn" type="button" role="button">
        Download my CV
        <div class="btn-decoration"></div>
      </button>
    </div>
  </div>
</div>
