<div class="about-container about">
  <div class="about-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          About me<span class="purplePrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          I'm a <b>Frontend Developer</b> with a lifelong passion for technology
          and the world of computers. What started as curiosity early on has
          evolved into a solid skill set focused on
          <b
            >building modern, accessible, and high-performance user
            interfaces</b
          >. I love crafting smooth, well-designed digital experiences with
          close attention to <b>detail, usability, and design</b>.
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>

  <div class="about-main-section">
    <div class="about-study-section" role="heading" aria-level="4">
      <span class="body24">
        Since high school, I have been deeply passionate about computer science,
        constantly challenging myself to create more fluid and complex layouts.
        In 2016, I enrolled at the <b>University of Milan</b>, which became one
        of the most enriching experiences of my life. There, I not only
        <b>expanded my programming knowledge</b> but also benefited immensely
        from exchanging ideas with fellow students. This collaborative
        environment inspired me to rethink and <b>refine my approach</b> to web
        application development, helping me grow into the developer I am
        today.</span
      >
      <span>img</span>
    </div>
    <div class="about-drawing-section" role="heading" aria-level="4">
      <span>img</span>
      <span class="body24">
        Since I was a child, I’ve <b>always loved drawing</b> and expressing
        ideas through shapes and colors. Over time, this creative passion
        evolved into a strong interest in digital design. As a frontend
        developer, I find great satisfaction in transforming visual interfaces
        into <b>smooth, functional user experiences</b>. Working on design
        implementation allows me to combine my artistic side with technical
        skills, crafting solutions that are not only visually appealing but also
        intuitive and accessible for users.</span
      >
    </div>
  </div>
</div>
