@import "src/assets/color/colors.variables.scss";
@import "src/assets/styles/responsive.mixin.scss";

//Main container
.sidenav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: transparent;
}

//Sidenav content
.sidenav-content {
  max-width: 1440px;
  margin: 8px auto;
  height: 64px;
  border-radius: 8px;
  background: inherit;
  transition: all 0.2s ease;

  @include screen-up("xl") {
    margin: 8px;
  }
}

//Scrolling effect on navbar div
.scrolling-effect {
  // background: hsla(204.857, 34%, 40%, 1.7);
  background: rgba(139, 44, 64, 0.7);
  transition: all 0.2s ease;
  backdrop-filter: blur(20px) saturate(0.7);
  -webkit-backdrop-filter: blur(20px) saturate(1.7);
}

//Sidenav
.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

//Toolbar Desktop view
.nav-main {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: transparent;

  @include screen-up("md") {
    padding: 0 16px;
    grid-template-columns: repeat(2, 1fr);
  }
}

// EYE Cntainer
.eye-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .eye {
    position: relative;
    display: inline-block;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    background: white;
  }
  .eye:after {
    /*pupil*/
    position: absolute;
    bottom: 17px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #000;
    border-radius: 50%;
    content: " ";
  }
}

.links-container {
  text-align: right;

  .nav-btn {
    margin-right: 16px;
  }
  .nav-btn:last-child {
    margin-right: 0;
  }
}

.open-sidenav-container {
  text-align: right;
}

svg {
  fill: $hero;
}

//Active route
.active {
  &::before {
    width: 100%;
  }
}
