@import "src/assets/color/colors.variables.scss";
@import "src/assets/styles/responsive.mixin.scss";

//Main container
.sidenav-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

//Sidenav content
.sidenav-content {
  height: 64px;
  background: $blank;
}

//Sidenav
.sidenav {
  width: 100%;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
