<div class="navbar-container">
  <div class="navbar-content" [ngClass]="{ 'scrolling-effect': isScrolling }">
    <!-- -----------------Mobile view----------------- -->
    <mat-toolbar
      class="nav-main"
      *ngIf="(isHandset$ | async) || (isTablet$ | async)"
    >
      <!-- Links container Mobile-->
      <div class="links-container-mob">
        <button
          class="nav-btn body18"
          type="button"
          (click)="navigate('/')"
          [ngClass]="{ active: currentRouteValue === '/' }"
        >
          Work
        </button>
        <button
          class="nav-btn body18"
          type="button"
          (click)="navigate('/about')"
          [ngClass]="{ active: currentRouteValue === '/about' }"
        >
          About me
        </button>
        <button class="nav-btn body18" type="button" (click)="navigate('/')">
          Contact
        </button>
        <button class="nav-btn body18" type="button">Download CV</button>
      </div>
    </mat-toolbar>
    <!-- ---------------Desktop view------------------- -->
    <mat-toolbar
      class="nav-main"
      *ngIf="(isHandset$ | async) === false && (isTablet$ | async) === false"
    >
      <!-- Logo website -->
      <div class="logo">
        <span>portfolio</span>
      </div>

      <!-- Eye container -->
      <div class="eye-container">
        <div id="eye" class="eye" [style]="styleEye"></div>
      </div>

      <!-- Links container Desktop-->
      <div class="links-container-dsk">
        <button
          class="nav-btn body18"
          type="button"
          (click)="navigate('/')"
          [ngClass]="{ 'active-dsk': currentRouteValue === '/' }"
        >
          Work
        </button>
        <button
          class="nav-btn body18"
          type="button"
          (click)="navigate('/about')"
          [ngClass]="{ 'active-dsk': currentRouteValue === '/about' }"
        >
          About me
        </button>
        <button class="nav-btn body18" type="button" (click)="navigate('/')">
          Contact
        </button>
        <button class="nav-btn body18" type="button">Download CV</button>
      </div>
    </mat-toolbar>
  </div>
</div>
