<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="
      (isHandset$ | async) || (isTablet$ | async) ? 'dialog' : 'navigation'
    "
    [mode]="(isHandset$ | async) || (isTablet$ | async) ? 'over' : 'side'"
    [(opened)]="opened"
    (opened)="events.push('open!')"
    (closed)="events.push('close!')"
    [ngClass]="{
      hidden: (isHandset$ | async) === false && (isTablet$ | async) === false
    }"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Link 1</a>
      <a mat-list-item href="#">Link 2</a>
      <a mat-list-item href="#">Link 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content
    class="sidenav-content"
    [ngClass]="{ 'scrolling-effect': isScrolling }"
  >
    <mat-toolbar class="nav-main">
      <!-- Logo website -->
      <div class="logo"><span>portfolio</span></div>

      <!-- Eye container -->
      <div class="eye-container">
        <div id="eye" class="eye" [style]="styleEye"></div>
      </div>

      <!-- Links container -->
      <div class="links-container">
        <button>Prova</button>
        <button>Prova2</button>
        <button>Prova3</button>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
