<!-- cc342d -->
<div class="home-container">
  <div class="home-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle" role="heading" aria-level="1">
          <span class="text-con-bordo"
            >Hello,<br />
            I'm <span class="bold">Gabriele</span
            ><span class="redPeachPrimary">.</span></span
          >
        </div>
        <div class="body24" role="heading" aria-level="2">
          <span class="text-con-bordo">
            I'm a <span class="bold">Front End Developer</span> passionate about
            creating elegant, responsive, and user-centered
            <span class="bold">web experiences.</span></span
          >
        </div>
        <div class="image-container"></div>
      </div>
    </div>
    <!-- Time line example -->
    <!-- <div class="timeline-container">
      <div class="timeline-content">
        <div class="primary dosis-600 welcome-text">Welcome</div>
        <div class="circle"></div>
      </div>
      <div class="line animated-line"></div>
    </div> -->
  </div>
</div>
