<div class="home-container home">
  <div class="home-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle" role="heading" aria-level="1">
          <span class="text-con-bordo"
            >Hello,<br />
            I'm <span class="bold">Gabriele</span
            ><span class="orangePrimary">.</span></span
          >
        </div>
        <div class="body24" role="heading" aria-level="2">
          <span class="text-con-bordo">
            I'm a <span class="bold">Front End Developer</span> passionate about
            creating elegant, responsive, and user-centered
            <span class="bold">web experiences.</span></span
          >
        </div>
        <div class="image-container"></div>
      </div>
    </div>
  </div>
</div>
