<div class="works-container works">
  <div class="works-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          Works<span class="redPrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          A peek into <b>my journey</b> as a Frontend Developer: real
          experiences, projects in the works, and plenty of code on the way
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>

  <div class="works-main-section">
    <div class="section-title body32 bold">
      <span>Experiences</span>
      <div class="period-line"></div>
    </div>
    @for (company of companyList; track $index) {
    <app-item-list
      [link]="company.link"
      [from]="company.from"
      [to]="company.to"
      [company]="company.companyName"
      [title]="company.title"
      [desc]="company.description"
      [chips]="company.chips"
    ></app-item-list>
    }
  </div>
</div>
