@use "colors.variables" as *;
@use "animations.scss" as *;
@use "responsive.mixin.scss" as *;

.title-container {
  font-family: "Merriweather", serif;
  display: grid;
  max-width: 1000px;
  align-items: center;
  position: relative;

  .bigTitle {
    text-align: left;
    z-index: 1;
    opacity: 0;
    transform: translateY(30px);
    animation: showUp 0.5s ease-out forwards;
    animation-delay: 0.4s;
  }
  .body24 {
    text-align: left;
    z-index: 1;
    opacity: 0;
    transform: translateY(30px);
    animation: showUp 0.5s ease-out forwards;
    animation-delay: 0.8s;
  }

  .title-content {
    display: grid;
    gap: 28px;
    margin: auto;
    text-align: left;
  }
}

.works-main-section {
  display: grid;
  font-family:
    "Acorn",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  max-width: 1200px;
  gap: 24px;

  .section-title {
    padding: 24px 0;
    display: flex;
    align-items: center;

    .period-line {
      margin-left: 16px;
      height: 4px;
      width: 100px;
      background-color: $redPrimary;
      border-radius: 8px;

      @include screen-down("md") {
        width: 50px;
      }
    }

    @include screen-down("md") {
      padding: 24px;
    }
  }
}
