<!-- <div class="works-container works">
  <div class="works-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          Works<span class="redPrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          No projects published… for now. But I'm working under the hood to
          bring something solid and well-crafted online very soon.
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>
</div> -->

<div class="works-container works">
  <div class="works-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          Works<span class="redPrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          A peek into <b>my journey</b> as a Frontend Developer: real
          experiences, projects in the works, and plenty of code on the way
        </div>
      </div>
    </div>

    <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div>
  </div>

  <div class="section-title body32 bold">
    <span>Experiences</span>
    <div class="period-line"></div>
  </div>

  <div class="works-main-section">
    <app-item-list
      link="https://www.lunalabs.it/"
      from="2022"
      to="Present"
      company="Lunalabs"
      title="Angular Frontend Developer"
      desc="I had the opportunity to dive deep into Angular and turn it into a true passion, building increasingly complex and optimized architectures with a strong focus on code quality and performance. I love bringing designers' ideas to life by transforming them into dynamic, accessible interfaces where aesthetics and functionality work in harmony. This experience allowed me to work in a team, face real-world challenges, and actively contribute to the development of well-designed, engaging, and meaningful projects."
      [chips]="['Angular', 'HTML & SCSS', 'TypeScript', 'Node.js']"
    ></app-item-list>
    <app-item-list
      link="https://dodifferent.it/"
      from="APR"
      to="SEP 2022"
      company="Do Different"
      title="ICT Developer"
      desc="During an internship as an ICT developer, I had the chance to explore the backend world, working with Java and the Spring framework in a microservices-based environment. Although it was a short experience, it allowed me to understand backend development dynamics and contribute to small real-world tasks within a team."
      [chips]="['Java', 'Spring']"
    ></app-item-list>
  </div>
</div>
