<div class="works-container works">
  <div class="works-content">
    <div class="title-container">
      <div class="title-content">
        <div class="bigTitle bold" role="heading" aria-level="1">
          Works<span class="redPrimary">.</span>
        </div>
        <div class="body24" role="heading" aria-level="2">
          No projects published… for now. But I'm working under the hood to
          bring something solid and well-crafted online very soon.
        </div>
      </div>
    </div>

    <!-- <div class="scroll-line" role="heading" aria-level="5">
      <span>SCROLL</span><img src="svg/south.svg" alt="south.svg" />
    </div> -->
  </div>
</div>
