@import "color/colors.variables";

@mixin apply-style-to-container($class) {
  .#{$class}-container {
    width: 100%;
    height: 100%;
    display: grid;
    box-sizing: border-box;

    &.home {
      padding: 48px;
      background: $orange2;
    }
    &.about {
      padding: 250px 48px;
      background: $purple2;
    }
  }
}
@mixin apply-style-to-content($class) {
  .#{$class}-content {
    margin: auto;
    width: 100%;
    padding-bottom: 100px;
    max-width: 1200px;
  }
}
