@import "color/colors.variables";

@mixin apply-style-to-container($class) {
  .#{$class}-container {
    width: 100%;
    height: 100%;
    padding: 48px;
    background: $redPeach2;
  }
}
@mixin apply-style-to-content($class) {
  .#{$class}-content {
    width: 100%;
    padding-bottom: 100px;
  }
}
