//Imports
@import "./assets/class.mixin.scss";
@import "./assets/fonts/typography.mixin.scss";
@import "./assets/styles/buttons.mixin.scss";

//Global styles ---------
html,
body {
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: $brown1;
  font-family: "Dosis", sans-serif;
}

$class-list: "home", "about";

@each $class in $class-list {
  @include apply-style-to-container($class);
  @include apply-style-to-content($class);
}

//FONTS ------

.heading1 {
  @include heading1;
}
.prova {
  @include prova;
}

.dosis-700 {
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.dosis-600 {
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

//COLORS ------

.primary-dark {
  color: $primary-dark;
}
.primary {
  color: $primary;
}

//BUTTONS ------

button {
  cursor: pointer;
}

.neutral-btn {
  @include neutral-btn;
}
