<!-- Navbar container -->
<div class="navbar-container">
  <!-- Navbar content -->
  <div class="navbar-content">
    <button
      class="neutral-btn"
      (click)="navigate('home')"
      type="button"
      role="button"
    >
      Home
    </button>
    <button
      class="neutral-btn"
      (click)="navigate('about')"
      type="button"
      role="button"
    >
      AboutUs
    </button>
    <div class="dosis-700 prova primary-dark">Gabriele P.</div>
    <button
      class="neutral-btn"
      (click)="navigate('skills')"
      type="button"
      role="button"
    >
      Skills
    </button>
    <button
      class="neutral-btn"
      (click)="navigate('contact')"
      type="button"
      role="button"
    >
      Contact me
    </button>
  </div>
</div>
