@import "./responsive.mixin.scss";
@import "../color/colors.variables.scss";

//Navbar BTN

@mixin nav-btn {
  border: none;
  background-color: transparent;
  color: $hero;
  letter-spacing: normal;
  position: relative;
  padding: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: $hero;
    transition: width 0.25s ease-out;
  }

  &:hover::before {
    width: 100%;
  }
}

@mixin img-btn {
  margin-left: auto;
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;

  svg {
    height: 24px;
  }
}
