@import "./responsive.mixin.scss";

@mixin apply-style-to-container($class) {
  .#{$class}-container {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: auto;
    height: 70%;
    padding-top: 10%;

    @include screen-up("md") {
      padding-top: 20%;
    }

    @include screen-up("sm") {
      padding-top: 40%;
    }

    background: rgb(139, 44, 64);
    background: -moz-linear-gradient(
      180deg,
      rgba(139, 44, 64, 1) 0%,
      rgba(67, 108, 137, 1) 100%
    );
    background: -webkit-linear-gradient(
      180deg,
      rgba(139, 44, 64, 1) 0%,
      rgba(67, 108, 137, 1) 100%
    );
    background: linear-gradient(
      180deg,
      rgba(139, 44, 64, 1) 0%,
      rgba(67, 108, 137, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8b2c40",endColorstr="#436c89",GradientType=1);
  }
}

@mixin apply-style-to-content($class) {
  .#{$class}-content {
    color: black;
    height: 100%;

    @include screen-down("xl") {
      max-width: 1160px;
      margin: auto;
    }

    @include screen-up("xl") {
      margin: 0 140px;
    }

    @include screen-up("lg") {
      margin: 0 21px;
    }
  }
}
